body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background: url('g.png') no-repeat center center/cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-container {
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.auth-form {
    max-width: 400px;
    margin: 0 auto;
}

.auth-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.auth-form label {
    display: block;
    margin-bottom: 5px;
}

.auth-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

.auth-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e50914;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.auth-form button:hover {
    background-color: #ff4c4c;
}

.auth-form p {
    text-align: center;
}

.auth-form p a {
    color: #e50914;
    text-decoration: none;
    transition: color 0.3s ease;
}

.auth-form p a:hover {
    color: #ff4c4c;
}
